.main-footer {
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #f8f9fa;
    padding: 0.5rem 0;
}

.footer-brand {
    font-size: 1.0rem;
}

.footer-logo {
    height: 40px;
    width: auto;
}

.footer-icons a {
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-icons a:hover {
    color: var(--bs-primary) !important;
}

/* Für den Dark Mode später */
[data-bs-theme="dark"] .main-footer {
    border-top: 1px solid rgba(255,255,255,.1);
    background-color: #212529;
} 